<h2>Eventos</h2>
<hr>
<div class="form-inLine">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input type="text" class="form-control mb-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<table class="table table-dark table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-primary btn-sm"
          (click)="alterarImagem()">
          {{!exibirImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
        [isAnimated]="true"
        src="/assets/{{evento.imagemURL}}" alt=""
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm ">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
